In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/matches.csv')

In [3]:
all_players = list(set(
                    df['w1'].values.tolist() + 
                    df['w2'].values.tolist() + 
                    df['w3'].values.tolist() + 
                    df['w4'].values.tolist() + 
                    df['l1'].values.tolist() + 
                    df['l2'].values.tolist() + 
                    df['l3'].values.tolist() + 
                    df['l4'].values.tolist()
                    ))
print(all_players)

['MarjiManRTS', 'stealthyChakram', 'KhalDrogo', nan, 'HELLRAZER', 'bharathkumar539', 'eKkO', 'CHARITH', 'cyanide', 'Lifehack', 'Diabloz', 'Valar', 'TalentButNoFarm', 'Ancalagon', 'wArDaDdY', 'Deadkorpse', 'threeeyedraven', 'ch0r', 'Thiru', 'Srini Mama', 'PoinDexter', 'LlamaToast üè¥‚ò†', 'Satanicwarhamster', 'Slayer', 'Saracen', 'arjya13', 'Morty', 'ü•≠bush', 'Tinikeya', 'TheHappyBoar', 'motava', '‡§ó‡•Å‡§∞‡•Å‡§§‡•ç‡§µ‡§æ‡§ï‡§∞‡•ç‡§∑‡§£', 'JAYRAJ', 'ThirtiethBog219', 'dopefish', 'rsalgut', 'THUNDER', 'prof', 'Hitman', 'Sephiroth', 'ddk', 'Wildling', 'shrp', 'tasmaniandevil21', 'OS', 'goko', 'Avenger', 'scarecrow', 'steelskin', 'WackieChan', 'rafale360', 'TheLivi', 'AgentP', 'Water', 'Royal', 'dragonstar1233', 'JustüÖ±an', 'drgameher', 'Nicco', 'NileshJavar', 'cloudriders', 'Alexander8507', 'basshunteraoe', 'DOOMSTER', 'Blitz', 'gelf', 'noobnoob', 'SuLTaN', 'bavinGelson', 'Shadeslayer II', 'Chacha', 'pHANTOM', 'harshit', 'FraGSitauX', 'MrWrong', 'ABHI', 'Asterix', 'franc', 'cr717', 'BraveHeart', 'BombayGypsy', 'Ikka Stuff', 'HistoryNerd', 'Maximus', 'JayMystic', 'Himansu', 'veralasata', 'Strider', 'SkuLLXD', 'Hiten', 'Simba', 'Storm', 'Yugeengimli', 'Bangbang', 'The SILENT MONK', 'Bondulkar', 'addu', 'peppapig2108', 'MODI', 'Lathkore', 'AsOcA', 'vinay24', 'kaos', 'Mr.LoVe', 'FraGStaR', 'himansu', 'Aragornn', 'Rohan', 'Sargun', 'Anca', 'CHICKEN', 'üí•Smokeu4joke', 'abhinandankarwa', 'capeBoysNoob', 'Kappa', 'Lucky23', 'newisyou', 'nemes1s', 'Sigma Grindset', 'riddist', ' Apu', 'MadMax', 'TRush', 'Delusion9', 'BoseDK', 'Afterlife', 'Plan B', 'Mirror', 'Plan C', 'MachPatel', 'HenryX', 'WhiteSmith', 'Bomberman7991', 'thaimadz', 'keysersoze', 'SMR', 'CrazyGuY', 'Amadeus', 'dst', 'RedViper', 'n0chanc3', 'Vegeta9999', 'ForeRuthless', 'Oldman0007', 'Fish Curry', 'Zaid Noob', 'Phantom', 'Dranzer13', 'andrabi', 'ucchash94', 'Shoumo', 'adirath', 'Aragorn']

In [4]:
def teammate_stats(df, player):
    # Filter matches involving the given player
    won_df = df[(df['w1'] == player) | (df['w2'] == player) | (df['w3'] == player) | (df['w4'] == player)]
    lost_df = df[(df['l1'] == player) | (df['l2'] == player) | (df['l3'] == player) | (df['l4'] == player)]

    teammate_stats = []
    for teammate in all_players:
        if teammate == player:
            continue
            
        won = len(won_df[
                            (won_df['w1'] == teammate) | 
                            (won_df['w2'] == teammate) | 
                            (won_df['w3'] == teammate) | 
                            (won_df['w4'] == teammate)
                            ].index)
        lost = len(lost_df[
                            (lost_df['l1'] == teammate) | 
                            (lost_df['l2'] == teammate) | 
                            (lost_df['l3'] == teammate) | 
                            (lost_df['l4'] == teammate)
                            ].index)
        if won+lost > 0:
            teammate_stats.append({
                'teammate': teammate, 
                'total': won+lost, 
                'won': won, 
                'lost': lost, 
                'win_rate': round(won*100/(won+lost), 2)
            })
    stats_df = pd.DataFrame(teammate_stats).sort_values(by='win_rate', ascending=False)
    return stats_df[stats_df['total'] >= 1].reset_index(drop=True)

In [5]:
def opponent_stats(df, player):
    # Filter matches involving the given player
    won_df = df[(df['w1'] == player) | (df['w2'] == player) | (df['w3'] == player) | (df['w4'] == player)]
    lost_df = df[(df['l1'] == player) | (df['l2'] == player) | (df['l3'] == player) | (df['l4'] == player)]

    opponent_stats = []
    for opponent in all_players:
        if opponent == player:
            continue
            
        won = len(won_df[
                            (won_df['l1'] == opponent) | 
                            (won_df['l2'] == opponent) | 
                            (won_df['l3'] == opponent) | 
                            (won_df['l4'] == opponent)
                            ].index)
        lost = len(lost_df[
                            (lost_df['w1'] == opponent) | 
                            (lost_df['w2'] == opponent) | 
                            (lost_df['w3'] == opponent) | 
                            (lost_df['w4'] == opponent)
                            ].index)
        if won+lost > 0:
            opponent_stats.append({
                'opponent': opponent, 
                'total': won+lost, 
                'won': won, 
                'lost': lost, 
                'win_rate': round(won*100/(won+lost), 2)
            })
    stats_df = pd.DataFrame(opponent_stats).sort_values(by='win_rate', ascending=False)
    return stats_df[stats_df['total'] >= 1].reset_index(drop=True)

In [6]:
player_name = 'TheLivi'
opponent_stats(df, player_name)

            opponent  total  won  lost  win_rate
0               shrp      1    1     0     100.0
1    bharathkumar539      1    1     0     100.0
2               eKkO      1    1     0     100.0
3             HenryX      1    1     0     100.0
4            riddist      1    1     0     100.0
..               ...    ...  ...   ...       ...
112            Nicco      1    0     1       0.0
113     TheHappyBoar      1    0     1       0.0
114    LlamaToast üè¥‚ò†      1    0     1       0.0
115             ch0r      1    0     1       0.0
116      cloudriders      1    0     1       0.0

[117 rows x 5 columns]

In [7]:
teammate_stats(df, player_name)

           teammate  total  won  lost  win_rate
0           nemes1s      1    1     0     100.0
1      TheHappyBoar      1    1     0     100.0
2           andrabi      1    1     0     100.0
3      üí•Smokeu4joke      1    1     0     100.0
4    dragonstar1233      1    1     0     100.0
..              ...    ...  ...   ...       ...
109        Lifehack      1    0     1       0.0
110         vinay24      1    0     1       0.0
111     Yugeengimli      3    0     3       0.0
112           Storm      3    0     3       0.0
113         Maximus      1    0     1       0.0

[114 rows x 5 columns]