In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('matches.csv')

In [3]:
all_players = list(set(
                    df['w1'].values.tolist() + 
                    df['w2'].values.tolist() + 
                    df['w3'].values.tolist() + 
                    df['w4'].values.tolist() + 
                    df['l1'].values.tolist() + 
                    df['l2'].values.tolist() + 
                    df['l3'].values.tolist() + 
                    df['l4'].values.tolist()
                    ))
print(all_players)

['Phantom', 'vinay24', ' Apu', 'DOOMSTER', 'FraGStaR', 'ThirtiethBog219', 'Lifehack', 'Plan B', nan, 'shrp', 'Sargun', 'Nicco', 'RedViper', 'Ancalagon', 'Plan C', 'scarecrow', 'Shadeslayer II', 'Lathkore', 'AsOcA', 'ddk', 'Asterix', 'Rohan', 'capeBoysNoob', 'Srini Mama', 'TheHappyBoar', 'Oldman0007', 'thaimadz', 'nemes1s', 'KhalDrogo', 'ForeRuthless', 'Hitman', 'CHICKEN', 'Saracen', 'üí•Smokeu4joke', 'JustüÖ±an', 'Aragorn', 'pHANTOM', 'Vegeta9999', 'Storm', 'Mirror', 'Water', 'Hiten', 'riddist', 'prof', 'Shoumo', 'Royal', 'Avenger', 'Maximus', 'JAYRAJ', 'The SILENT MONK', 'Wildling', 'MachPatel', 'cloudriders', 'BraveHeart', 'stealthyChakram', 'Lucky23', 'CHARITH', 'FraGSitauX', 'Tinikeya', 'cr717', 'PoinDexter', 'WhiteSmith', 'franc', 'Diabloz', '‡§ó‡•Å‡§∞‡•Å‡§§‡•ç‡§µ‡§æ‡§ï‡§∞‡•ç‡§∑‡§£', 'Amadeus', 'wArDaDdY', 'ucchash94', 'steelskin', 'tasmaniandevil21', 'Slayer', 'Strider', 'MrWrong', 'abhinandankarwa', 'Morty', 'harshit', 'andrabi', 'SMR', 'rafale360', 'Yugeengimli', 'Chacha', 'JayMystic', 'threeeyedraven', 'HenryX', 'dopefish', 'SuLTaN', 'Bangbang', 'TalentButNoFarm', 'keysersoze', 'himansu', 'LlamaToast üè¥‚ò†', 'noobnoob', 'TheLivi', 'Alexander8507', 'BoseDK', 'MODI', 'motava', 'dst', 'ABHI', 'Sephiroth', 'ü•≠bush', 'veralasata', 'eKkO', 'Mr.LoVe', 'HistoryNerd', 'Ikka Stuff', 'AgentP', 'cyanide', 'Zaid Noob', 'kaos', 'addu', 'OS', 'n0chanc3', 'newisyou', 'Bondulkar', 'adirath', 'bavinGelson', 'Simba', 'Anca', 'Deadkorpse', 'rsalgut', 'Sigma Grindset', 'Aragornn', 'basshunteraoe', 'dragonstar1233', 'Kappa', 'goko', 'SkuLLXD', 'peppapig2108', 'Blitz', 'CrazyGuY', 'Fish Curry', 'NileshJavar', 'bharathkumar539', 'TRush', 'Delusion9', 'Dranzer13', 'Thiru', 'HELLRAZER', 'THUNDER', 'arjya13', 'Bomberman7991', 'MarjiManRTS', 'Valar', 'gelf', 'BombayGypsy', 'Satanicwarhamster', 'ch0r', 'Afterlife', 'WackieChan', 'drgameher', 'Himansu', 'MadMax']

In [4]:
def teammate_stats(df, player):
    # Filter matches involving the given player
    won_df = df[(df['w1'] == player) | (df['w2'] == player) | (df['w3'] == player) | (df['w4'] == player)]
    lost_df = df[(df['l1'] == player) | (df['l2'] == player) | (df['l3'] == player) | (df['l4'] == player)]

    teammate_stats = []
    for teammate in all_players:
        if teammate == player:
            continue
            
        won = len(won_df[
                            (won_df['w1'] == teammate) | 
                            (won_df['w2'] == teammate) | 
                            (won_df['w3'] == teammate) | 
                            (won_df['w4'] == teammate)
                            ].index)
        lost = len(lost_df[
                            (lost_df['l1'] == teammate) | 
                            (lost_df['l2'] == teammate) | 
                            (lost_df['l3'] == teammate) | 
                            (lost_df['l4'] == teammate)
                            ].index)
        if won+lost > 0:
            teammate_stats.append({
                'teammate': teammate, 
                'total': won+lost, 
                'won': won, 
                'lost': lost, 
                'win_rate': round(won*100/(won+lost), 2)
            })
    stats_df = pd.DataFrame(teammate_stats).sort_values(by='win_rate', ascending=False)
    return stats_df[stats_df['total'] >= 10].reset_index(drop=True)

In [5]:
def opponent_stats(df, player):
    # Filter matches involving the given player
    won_df = df[(df['w1'] == player) | (df['w2'] == player) | (df['w3'] == player) | (df['w4'] == player)]
    lost_df = df[(df['l1'] == player) | (df['l2'] == player) | (df['l3'] == player) | (df['l4'] == player)]

    opponent_stats = []
    for opponent in all_players:
        if opponent == player:
            continue
            
        won = len(won_df[
                            (won_df['l1'] == opponent) | 
                            (won_df['l2'] == opponent) | 
                            (won_df['l3'] == opponent) | 
                            (won_df['l4'] == opponent)
                            ].index)
        lost = len(lost_df[
                            (lost_df['w1'] == opponent) | 
                            (lost_df['w2'] == opponent) | 
                            (lost_df['w3'] == opponent) | 
                            (lost_df['w4'] == opponent)
                            ].index)
        if won+lost > 0:
            opponent_stats.append({
                'opponent': opponent, 
                'total': won+lost, 
                'won': won, 
                'lost': lost, 
                'win_rate': round(won*100/(won+lost), 2)
            })
    stats_df = pd.DataFrame(opponent_stats).sort_values(by='win_rate', ascending=False)
    return stats_df[stats_df['total'] >= 10].reset_index(drop=True)

In [8]:
player_name = 'TheLivi'
opponent_stats(df, player_name)

           opponent  total  won  lost  win_rate
0        keysersoze     11    8     3     72.73
1   TalentButNoFarm     46   31    15     67.39
2           pHANTOM     18   12     6     66.67
3     Alexander8507     11    7     4     63.64
4          Aragornn     56   35    21     62.50
..              ...    ...  ...   ...       ...
71    ‡§ó‡•Å‡§∞‡•Å‡§§‡•ç‡§µ‡§æ‡§ï‡§∞‡•ç‡§∑‡§£     13    5     8     38.46
72          Amadeus     22    8    14     36.36
73        Dranzer13     11    4     7     36.36
74         noobnoob     18    6    12     33.33
75         DOOMSTER     58   18    40     31.03

[76 rows x 5 columns]

In [9]:
teammate_stats(df, player_name)

             teammate  total  won  lost  win_rate
0               Water     25   20     5     80.00
1     TalentButNoFarm     33   21    12     63.64
2              Chacha     11    7     4     63.64
3            Aragornn     47   29    18     61.70
4             Himansu     28   17    11     60.71
..                ...    ...  ...   ...       ...
61           Tinikeya    127   48    79     37.80
62            CHARITH     24    9    15     37.50
63  Satanicwarhamster     14    5     9     35.71
64            pHANTOM     14    4    10     28.57
65         keysersoze     11    3     8     27.27

[66 rows x 5 columns]