In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('matches.csv')

In [3]:
all_players = list(set(
                    df['w1'].values.tolist() + 
                    df['w2'].values.tolist() + 
                    df['w3'].values.tolist() + 
                    df['w4'].values.tolist() + 
                    df['l1'].values.tolist() + 
                    df['l2'].values.tolist() + 
                    df['l3'].values.tolist() + 
                    df['l4'].values.tolist()
                    ))
print(all_players)

['cr717', 'Oldman0007', 'threeeyedraven', nan, 'motava', 'JayMystic', 'AsOcA', 'SuLTaN', 'üí•Smokeu4joke', 'arjya13', 'wArDaDdY', 'Amadeus', 'CHICKEN', 'Tinikeya', 'Storm', 'noobnoob', 'Ikka Stuff', 'TRush', 'Mr.LoVe', 'BombayGypsy', 'prof', 'Bondulkar', 'PoinDexter', 'andrabi', 'kaos', 'vinay24', 'Lifehack', 'BoseDK', 'Yugeengimli', 'tasmaniandevil21', 'Dranzer13', 'Saracen', 'bavinGelson', 'Valar', 'Rohan', 'ucchash94', 'Aragorn', 'goko', 'Lathkore', 'gelf', 'Bangbang', 'veralasata', 'CHARITH', 'Thiru', 'riddist', 'JustüÖ±an', 'Avenger', 'Sargun', 'Alexander8507', 'RedViper', 'adirath', 'TheLivi', 'BraveHeart', 'Simba', 'Srini Mama', 'HELLRAZER', 'Hitman', 'Satanicwarhamster', 'Sigma Grindset', 'MODI', 'Zaid Noob', 'Phantom', 'Nicco', 'nemes1s', 'WhiteSmith', 'HenryX', 'WackieChan', ' Apu', 'MarjiManRTS', 'ABHI', 'Mirror', 'NileshJavar', 'Bomberman7991', 'Deadkorpse', 'ForeRuthless', 'newisyou', 'addu', 'Asterix', 'TalentButNoFarm', 'franc', 'The SILENT MONK', 'Kappa', 'Vegeta9999', 'steelskin', 'ThirtiethBog219', 'LlamaToast üè¥‚ò†', 'MachPatel', 'ch0r', 'MrWrong', 'ü•≠bush', 'Strider', 'basshunteraoe', 'bharathkumar539', 'THUNDER', 'thaimadz', 'eKkO', 'rafale360', 'Shoumo', 'n0chanc3', 'pHANTOM', 'dragonstar1233', 'peppapig2108', 'Delusion9', 'harshit', 'Wildling', 'FraGStaR', 'Hiten', 'Ancalagon', 'Himansu', 'dst', 'Maximus', 'Chacha', 'Shadeslayer II', 'scarecrow', 'OS', 'rsalgut', 'Royal', 'himansu', 'SMR', 'Blitz', 'TheHappyBoar', 'FraGSitauX', 'shrp', 'Aragornn', 'keysersoze', 'SkuLLXD', 'Plan B', 'KhalDrogo', 'dopefish', 'Fish Curry', 'stealthyChakram', 'abhinandankarwa', 'Morty', 'Sephiroth', 'CrazyGuY', 'DOOMSTER', 'JAYRAJ', 'cyanide', 'Anca', 'Afterlife', 'ddk', 'drgameher', 'MadMax', 'AgentP', 'capeBoysNoob', 'Diabloz', 'Slayer', 'HistoryNerd', 'Plan C', 'cloudriders', 'Water', 'Lucky23', '‡§ó‡•Å‡§∞‡•Å‡§§‡•ç‡§µ‡§æ‡§ï‡§∞‡•ç‡§∑‡§£']

In [4]:
def teammate_stats(df, player):
    # Filter matches involving the given player
    won_df = df[(df['w1'] == player) | (df['w2'] == player) | (df['w3'] == player) | (df['w4'] == player)]
    lost_df = df[(df['l1'] == player) | (df['l2'] == player) | (df['l3'] == player) | (df['l4'] == player)]

    teammate_stats = []
    for teammate in all_players:
        if teammate == player:
            continue
            
        won = len(won_df[
                            (won_df['w1'] == teammate) | 
                            (won_df['w2'] == teammate) | 
                            (won_df['w3'] == teammate) | 
                            (won_df['w4'] == teammate)
                            ].index)
        lost = len(lost_df[
                            (lost_df['l1'] == teammate) | 
                            (lost_df['l2'] == teammate) | 
                            (lost_df['l3'] == teammate) | 
                            (lost_df['l4'] == teammate)
                            ].index)
        if won+lost > 0:
            teammate_stats.append({
                'teammate': teammate, 
                'total': won+lost, 
                'won': won, 
                'lost': lost, 
                'win_rate': round(won*100/(won+lost), 2)
            })
    stats_df = pd.DataFrame(teammate_stats).sort_values(by='win_rate', ascending=False)
    return stats_df[stats_df['total'] >= 1].reset_index(drop=True)

In [5]:
def opponent_stats(df, player):
    # Filter matches involving the given player
    won_df = df[(df['w1'] == player) | (df['w2'] == player) | (df['w3'] == player) | (df['w4'] == player)]
    lost_df = df[(df['l1'] == player) | (df['l2'] == player) | (df['l3'] == player) | (df['l4'] == player)]

    opponent_stats = []
    for opponent in all_players:
        if opponent == player:
            continue
            
        won = len(won_df[
                            (won_df['l1'] == opponent) | 
                            (won_df['l2'] == opponent) | 
                            (won_df['l3'] == opponent) | 
                            (won_df['l4'] == opponent)
                            ].index)
        lost = len(lost_df[
                            (lost_df['w1'] == opponent) | 
                            (lost_df['w2'] == opponent) | 
                            (lost_df['w3'] == opponent) | 
                            (lost_df['w4'] == opponent)
                            ].index)
        if won+lost > 0:
            opponent_stats.append({
                'opponent': opponent, 
                'total': won+lost, 
                'won': won, 
                'lost': lost, 
                'win_rate': round(won*100/(won+lost), 2)
            })
    stats_df = pd.DataFrame(opponent_stats).sort_values(by='win_rate', ascending=False)
    return stats_df[stats_df['total'] >= 1].reset_index(drop=True)

In [7]:
player_name = 'TheLivi'
opponent_stats(df, player_name)

            opponent  total  won  lost  win_rate
0            Maximus      2    2     0     100.0
1            Mr.LoVe      1    1     0     100.0
2        NileshJavar      2    2     0     100.0
3            Asterix      1    1     0     100.0
4    bharathkumar539      1    1     0     100.0
..               ...    ...  ...   ...       ...
112    LlamaToast üè¥‚ò†      1    0     1       0.0
113      cloudriders      1    0     1       0.0
114       Fish Curry      3    0     3       0.0
115       WackieChan      2    0     2       0.0
116          Phantom      2    0     2       0.0

[117 rows x 5 columns]

In [8]:
teammate_stats(df, player_name)

          teammate  total  won  lost  win_rate
0          Phantom      3    3     0     100.0
1          nemes1s      1    1     0     100.0
2     TheHappyBoar      1    1     0     100.0
3     üí•Smokeu4joke      1    1     0     100.0
4          rsalgut      1    1     0     100.0
..             ...    ...  ...   ...       ...
109           Anca      1    0     1       0.0
110  LlamaToast üè¥‚ò†      3    0     3       0.0
111          Storm      3    0     3       0.0
112        Maximus      1    0     1       0.0
113    Yugeengimli      3    0     3       0.0

[114 rows x 5 columns]